---
import Layout from '../layouts/Layout.astro';
const res = await fetch("http://localhost:49926/umbraco/delivery/api/v2/content/item", {
    headers: {
        'api-key': 'test-api-key' // Add to env file, eg: import.meta.env.UMBRACO_API_KEY
    }
});
const page = await res.json();
---

<Layout>
	<h1>Landing {page.name}</h1>
	<p>{page.description}</p>
</Layout>